openapi: 3.1.0

info:
  title: Graphnous API
  description: Public API for the Graphnous platform.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.graphnous.dev
    description: Graphnous API

security: []

paths:
  /api/v1/systems:
    get:
      operationId: listSystems
      summary: List systems
      tags:
        - Systems
      parameters:
        - name: page
          in: query
          required: false
          description: The zero-based page number.
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: The number of systems per page.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          required: false
          description: The field to sort systems by.
          schema:
            type: string
            enum:
              - name
              - createdAt
            default: name
        - name: direction
          in: query
          required: false
          description: The sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        "200":
          description: A list of systems.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SystemPage"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    post:
      operationId: createSystem
      summary: Create a system
      tags:
        - Systems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSystemRequest"
      responses:
        "201":
          description: The created system.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed, or the plan does not allow more (code PLAN_LIMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/systems/{systemId}:
    parameters:
      - name: systemId
        in: path
        required: true
        description: The ID of the system.
        schema:
          type: string
          format: uuid

    get:
      operationId: getSystem
      summary: Get a system
      tags:
        - Systems
      responses:
        "200":
          description: The requested system.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: System not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    put:
      operationId: updateSystem
      summary: Update a system
      tags:
        - Systems
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSystemRequest"
      responses:
        "200":
          description: The updated system.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/System"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed, or the plan does not allow more (code PLAN_LIMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: System not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    delete:
      operationId: deleteSystem
      summary: Delete a system
      tags:
        - Systems
      responses:
        "204":
          description: System deleted.
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: System not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: A project of the system still has active scans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/systems/{systemId}/projects:
    parameters:
      - name: systemId
        in: path
        required: true
        description: The ID of the system.
        schema:
          type: string
          format: uuid

    get:
      operationId: listProjects
      summary: List projects
      tags:
        - Projects
      parameters:
        - name: page
          in: query
          required: false
          description: The zero-based page number.
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: The number of projects per page.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          required: false
          description: The field to sort projects by.
          schema:
            type: string
            enum:
              - name
              - createdAt
            default: name
        - name: direction
          in: query
          required: false
          description: The sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        "200":
          description: A list of projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectPage"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: System not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    post:
      operationId: createProject
      summary: Create a project in a system
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
      responses:
        "201":
          description: The created project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed, or the plan does not allow more (code PLAN_LIMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: System not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/projects/{projectId}:
    parameters:
      - name: projectId
        in: path
        required: true
        description: The ID of the project.
        schema:
          type: string
          format: uuid

    get:
      operationId: getProject
      summary: Get a project
      tags:
        - Projects
      responses:
        "200":
          description: The requested project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    put:
      operationId: updateProject
      summary: Update a project
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateProjectRequest"
      responses:
        "200":
          description: The updated project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed, or the plan does not allow more (code PLAN_LIMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    delete:
      operationId: deleteProject
      summary: Delete a project
      tags:
        - Projects
      responses:
        "204":
          description: Project deleted.
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: The project still has active scans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/projects/{projectId}/scans:
    parameters:
      - name: projectId
        in: path
        required: true
        description: The ID of the project.
        schema:
          type: string
          format: uuid

    get:
      operationId: listScans
      summary: List scans
      tags:
        - Scans
      parameters:
        - name: page
          in: query
          required: false
          description: The zero-based page number.
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: The number of scans per page.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          required: false
          description: The field to sort scans by.
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
            default: createdAt
        - name: direction
          in: query
          required: false
          description: The sort direction.
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        "200":
          description: A list of scans.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanPage"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    post:
      operationId: createScan
      summary: Create a scan
      tags:
        - Scans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateScanRequest"
      responses:
        "201":
          description: The created scan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scan"
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed, or the plan does not allow more (code PLAN_LIMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/projects/{projectId}/scan-results:
    parameters:
      - name: projectId
        in: path
        required: true
        description: The ID of the project.
        schema:
          type: string
          format: uuid

    post:
      operationId: uploadScanResults
      summary: Upload scan results
      description: >
        Creates a scan from result files scanned elsewhere, such as by a CI
        job or a build plugin: one file per scanned target, each following
        the scan result schema. The scan's CHECKOUT, PLAN and SCAN steps are
        skipped; storing and enhancing the results continue in the
        background. The Location header is where to follow the scan's steps.
      tags:
        - Scans
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - branch
                - revision
                - files
              properties:
                branch:
                  type: string
                  minLength: 1
                revision:
                  type: string
                  minLength: 1
                files:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: binary
      responses:
        "201":
          description: The created scan.
          headers:
            Location:
              description: The scan's steps.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scan"
        "400":
          description: A file is not a valid scan result, has no target, or two files are for the same target.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "403":
          description: Not allowed, or the plan does not allow more (code PLAN_LIMIT).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Project not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "413":
          description: A file or the request is larger than the server accepts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/scans/{scanId}:
    parameters:
      - name: scanId
        in: path
        required: true
        description: The ID of the scan.
        schema:
          type: string
          format: uuid

    get:
      operationId: getScan
      summary: Get a scan
      tags:
        - Scans
      responses:
        "200":
          description: The requested scan.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Scan"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

    delete:
      operationId: deleteScan
      summary: Delete a scan
      description: >
        Deletes a finished scan with its results and logs. A scan that is
        still pending, queued or running cannot be deleted.
      tags:
        - Scans
      responses:
        "204":
          description: Scan deleted.
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "409":
          description: The scan is still active.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/scans/{scanId}/steps:
    parameters:
      - name: scanId
        in: path
        required: true
        description: The ID of the scan.
        schema:
          type: string
          format: uuid

    get:
      operationId: getScanExecution
      summary: Get the steps of a scan
      description: >
        Returns every step of executing the scan, in the order they run,
        with their status and, for a failed step, why it failed.
      tags:
        - Scans
      responses:
        "200":
          description: The scan's steps.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanExecution"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/scans/{scanId}/logs:
    parameters:
      - name: scanId
        in: path
        required: true
        description: The ID of the scan.
        schema:
          type: string
          format: uuid

    get:
      operationId: listScanLogs
      summary: List scan logs
      description: Returns the logs for a scan ordered by sequence.
      tags:
        - Scan Logs
      parameters:
        - name: page
          in: query
          required: false
          description: The zero-based page number.
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - name: size
          in: query
          required: false
          description: The number of log entries per page.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        "200":
          description: A page of scan logs.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScanLogPage"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/scans/{scanId}/logs/stream:
    parameters:
      - name: scanId
        in: path
        required: true
        description: The ID of the scan.
        schema:
          type: string
          format: uuid

    get:
      operationId: streamScanLogs
      summary: Stream scan logs
      description: Streams new log entries for a scan using Server-Sent Events.
      tags:
        - Scan Logs
      responses:
        "200":
          description: A stream of scan log events.
          content:
            text/event-stream:
              schema:
                $ref: "#/components/schemas/ScanLog"
        "403":
          description: Not allowed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"
        "404":
          description: Scan not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiError"

  /api/v1/capabilities:
    get:
      operationId: getCapabilities
      summary: Get capabilities
      description: >
        Returns the capabilities available in this deployment. Capabilities
        are determined by the deployment type.
      tags:
        - Capabilities
      responses:
        "200":
          description: Capabilities for the deployment.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilitiesResponse"

components:
  schemas:
    ApiError:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: >
            A machine-readable error code, such as VALIDATION_ERROR or
            MALFORMED_REQUEST (400), FORBIDDEN (403, no permission), PLAN_LIMIT
            (403, the plan does not include it or its limit is reached),
            NOT_FOUND (404), CONFLICT (409) or INTERNAL_ERROR (500).
        message:
          type: string
          description: A human-readable description of the error.

    Page:
      type: object
      additionalProperties: true
      required:
        - content
        - page
        - size
        - totalElements
        - totalPages
      properties:
        content:
          type: array
        page:
          type: integer
          minimum: 0
        size:
          type: integer
          minimum: 1
          maximum: 1000
        totalElements:
          type: integer
          minimum: 0
        totalPages:
          type: integer
          minimum: 0

    SystemPage:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          additionalProperties: true
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/System"

    ProjectPage:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          additionalProperties: true
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Project"

    ScanPage:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          additionalProperties: true
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Scan"

    ScanExecution:
      type: object
      required:
        - scanId
        - steps
      properties:
        scanId:
          type: string
          format: uuid
        steps:
          type: array
          description: Every step of the scan, in the order they run.
          items:
            $ref: "#/components/schemas/ScanStep"

    ScanStep:
      type: object
      required:
        - type
        - status
      properties:
        type:
          type: string
          description: >
            CHECKOUT (the repository), PLAN (finding the targets to scan),
            SCAN (scanning them), STORE (storing the results in the graph),
            ENHANCE_RESULTS (target-scoped enhancers) and ENHANCE_SCAN
            (scan-scoped enhancers), in this order.
          enum:
            - CHECKOUT
            - PLAN
            - SCAN
            - STORE
            - ENHANCE_RESULTS
            - ENHANCE_SCAN
        status:
          type: string
          description: >
            SKIPPED when an earlier step failed. A failed enhance step does
            not fail the scan, as its results are stored.
          enum:
            - PENDING
            - RUNNING
            - COMPLETED
            - FAILED
            - SKIPPED
        startedAt:
          type: [string, "null"]
          format: date-time
        finishedAt:
          type: [string, "null"]
          format: date-time
        error:
          type: [string, "null"]
          description: Why the step failed; null otherwise.

    ScanLogPage:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          additionalProperties: true
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/ScanLog"

    CreateSystemRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string

    CreateProjectRequest:
      type: object
      required:
        - name
        - gitUrl
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string
        gitUrl:
          type: string
          minLength: 1
        path:
          type: string

    UpdateSystemRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string

    UpdateProjectRequest:
      type: object
      required:
        - name
        - systemId
      properties:
        name:
          type: string
          minLength: 1
        description:
          type: string
        path:
          type: string
        systemId:
          type: string
          format: uuid

    CreateScanRequest:
      type: object
      required:
        - branch
      properties:
        branch:
          type: string
          minLength: 1
        revision:
          description: The commit, tag or other git revision to scan; the tip of the branch when missing. The scan keeps it as its requestedRevision, and its revision is the commit it checks out.
          type: string
          minLength: 1

    System:
      type: object
      required:
        - id
        - name
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        description:
          type: [string, "null"]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Project:
      type: object
      required:
        - id
        - name
        - gitUrl
        - systemId
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          minLength: 1
        description:
          type: [string, "null"]
        gitUrl:
          type: string
          minLength: 1
        path:
          type: [string, "null"]
        systemId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Scan:
      type: object
      required:
        - id
        - projectId
        - branch
        - status
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        branch:
          type: string
          minLength: 1
        revision:
          description: The commit the scan is of, as its full hash once the scan has checked it out; null until then. For an uploaded scan, the revision it was uploaded with.
          type: [string, "null"]
          minLength: 1
        requestedRevision:
          description: The revision the scan was asked for, such as a tag or a short commit hash, as it was given; null when it was asked for the tip of its branch.
          type: [string, "null"]
          minLength: 1
        status:
          type: string
          enum:
            - PENDING
            - QUEUED
            - RUNNING
            - COMPLETED
            - FAILED
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        startedAt:
          description: When the scan started running; null until then.
          type: [string, "null"]
          format: date-time
        completedAt:
          description: When the scan completed or failed; null while it is active.
          type: [string, "null"]
          format: date-time

    ScanLog:
      type: object
      required:
        - id
        - scanId
        - sequence
        - timestamp
        - level
        - message
      properties:
        id:
          type: string
          format: uuid
        scanId:
          type: string
          format: uuid
        sequence:
          type: integer
          format: int64
          minimum: 1
        timestamp:
          type: string
          format: date-time
        level:
          type: string
          enum:
            - TRACE
            - DEBUG
            - INFO
            - WARN
            - ERROR
        message:
          type: string

    CapabilitiesResponse:
      type: object
      required:
        - capabilities
        - authorization
      properties:
        capabilities:
          type: array
          description: The capabilities available in this deployment.
          uniqueItems: true
          items:
            $ref: "#/components/schemas/Capability"
        authorization:
          type: object
          description: The authorization settings of this deployment.
          required:
            - enabled
          properties:
            enabled:
              type: boolean
              description: Whether authorization is enabled in this deployment.

    Capability:
      type: string
      enum:
        - SCANNING
        - PRIVATE_REPOSITORIES
        - ARCHITECTURE_ANALYSIS
        - ARCHITECTURE_RULES
        - ARCHITECTURE_VIOLATIONS
        - SCAN_COMPARISON
        - CROSS_PROJECT_ANALYSIS
        - CUSTOM_ENHANCERS
        - CUSTOM_RULESETS
        - AI
        - BYOK_AI
